.color-container {
  position: relative;
  width: 48.5%;
  height: 60px;
  margin-bottom: 10px;
  opacity: 0;

  input {
    height: 100% !important;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding-left: 0 !important;
    z-index: 0;
  }

  input:hover {
    box-shadow: inset 0px 0px 5px rgba(#59069a, 0.6), 0px 0px 20px rgba(#2cd8fe, 0.6);
  }

  .color-close-button {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 10px;
    height: 100%;
    width: 25px;
    z-index: 100;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: white;
      stroke: white;
    }
  }
}

.jscolor-btn-close {
  width: 100%;
  max-width: 213px !important;
  // padding-right: 0 !important;
}