#copyright {
  position: absolute;
  bottom: 10px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  z-index: 2000;
  opacity: 0.5;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}