@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.display-canvas {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
  z-index: 0;
  overflow: hidden;

  .controls-open {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 4em;
    height: 4em;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: hard-light;
  }

  .controls-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(42deg, rgba(51, 0, 82, 0.7), rgba(255, 0, 130, 0.6));
    box-shadow: inset 0px 0px 150px rgba(#450050, 1);
    z-index: 5;

    .controls-background-click {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
    }

    .controls-inner {
      position: relative;
      padding: 5vh;
      min-width: 320px;
      height: 90vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      opacity: 0.9;
      transition: 0.2s;
      z-index: 1;

      .row {
        display: flex;
        justify-content: space-between;

        h1 {
          display: block;
          width: 100%;
          text-align: center;
          color: #fafafa;
          font-size: 30px;
          margin-bottom: 50px;
          font-weight: 400;

          b {
            color: #cdf29c
          }
        }

        button, input {
          display: inline-block;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          margin-bottom: 10px;
          height: 60px;
          box-shadow: inset 0px 0px 0px rgba(#59069a, 0.6), 0px 0px 0px rgba(#59069a, 0.6);
          transition: 0.2s;
          border-radius: 4px;
          mix-blend-mode: lighten;
          text-align: center;
        }

        button {
          text-transform: uppercase;
          cursor: pointer;
        }

        button:hover, input:focus {
          box-shadow: inset 0px 0px 5px rgba(#59069a, 0.6), 0px 0px 20px rgba(#2cd8fe, 0.6);
        }

        .button-full {
          width: 100%;
          padding-top: 40px;
          padding-bottom: 40px;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.5px;
          outline: none;
          border: none;
          background: linear-gradient(42deg, #2c024d, #e6008c);
          color: #fafafa;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .button-small, input {
          width: 49%;
          background: transparent;
          color: #fafafa;
          font-size: 12px;
          font-weight: 700;
          border: 1px solid;
          border-color: #a6e000;
          outline: none;
        }

        input {
          background: linear-gradient(42deg, rgba(#2c024d, 0.2), rgba(#e6008c, 0.2));
          font-size: 8px;
        }
      }
    }
  }
}
