@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.display-canvas {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
  z-index: 0;
  overflow: hidden;

  .controls {
    position: absolute;
    top: 0px;
    right: -240px;
    padding: 5vh;
    width: 150px;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(51, 0, 82, .1), rgba(51, 0, 82, 0.3));
    box-shadow: inset 0px 0px 50px rgba(#450050, 0.5);
    opacity: 0.8;
    transition: 0.2s;

    h1 {
      display: block;
      width: 100%;
      text-align: center;
      color: #fafafa;
      font-size: 14px;
      margin-bottom: 30px;
      font-weight: 300;
    }

    button, input {
      display: inline-block;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      margin-bottom: 10px;
      height: 42px;
      box-shadow: inset 0px 0px 0px rgba(#59069a, 0.6), 0px 0px 0px rgba(#59069a, 0.6);
      transition: 0.2s;
      border-radius: 4px;
      mix-blend-mode: lighten;
    }

    button {
      border: none;
      outline: none;
      background-color: #ff007a;
      color: #fafafa;
      cursor: pointer;
      font-size: 10px;
      text-transform: uppercase;
    }

    button:hover {
      box-shadow: inset 0px 0px 10px rgba(#450050, 0.6), 0px 0px 10px rgba(#450050, 0.6);
    }

    button:active {
      animation: button-click 0.2s;
    }

    input {
      outline: none;
      border: none;
      font-size: 9px;
      font-weight: 300;
      text-align: center;
    }

    input:hover {
      box-shadow: inset 0px 0px 5px rgba(#450050, 0.6), 0px 0px 10px rgba(#450050, 0.6);
    }

    @keyframes button-click {
      0% {
        box-shadow: inset 0px 0px 0px rgba(#450050, 0.6), 0px 0px 0px rgba(#450050, 0.6);
        transform: scale(1);
      }

      50% {
        box-shadow: inset 0px 0px 10px #00d8fe, 0px 0px 20px rgba(#fcfa00, 0.5);
        transform: scale(1.05);
      }

      100% {
        box-shadow: inset 0px 0px 0px rgba(#450050, 0.6), 0px 0px 0px rgba(#450050, 0.6);
        transform: scale(1);
      }
    }
  }

  .controls:hover {
    right: 0;
    background-image: linear-gradient(to right, rgba(51, 0, 82, .25), rgba(51, 0, 82, 0.8));
  }

  .controls:before {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(51, 0, 82, .3);
    content: '';
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transition: 0.3s;
  }

  .controls:hover:before {
    opacity: 0;
    width: 10px;
    left: -10px;
    background-color: rgba(51, 0, 82, 1);
  }

  .controls:after {
    position: absolute;
    width: 100px;
    height: 100vh;
    left: -100px;
    top: 0;
    content: '';
    transition: 0.3s;
  }

  .controls:hover:after {
    width: 0;
    left: 0;
  }
}
