@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.display-canvas {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  .controls-open {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: hard-light;
  }

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    z-index: 0;
  }

  .controls-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(42deg, rgba(51, 0, 82, 0.5), rgba(255, 0, 130, 0.4));
    box-shadow: inset 0px 0px 150px rgba(#450050, 0.8);
    z-index: 5;

    .controls-background-click {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .controls-blurred {
      
    }

    .controls-settings {
      display: none !important;
      max-width: 400px;
    }

    .controls-visible {
      display: flex !important;
    }

    .controls-inner {
      position: absolute;
      padding: 5vh;
      min-width: 400px;
      height: 90vh;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      opacity: 0.9;
      z-index: 1;

      .row {
        display: flex;
        justify-content: space-between;

        h1 {
          display: block;
          width: 100%;
          text-align: left;
          color: #fafafa;
          font-size: 20px;
          margin-bottom: 30px;
          font-weight: 400;

          b {
            color: #cdf29c
          }
        }

        button, input {
          display: inline-block;
          font-family: 'Lato', sans-serif;
          margin-bottom: 10px;
          height: 60px;
          box-shadow: inset 0px 0px 0px rgba(#59069a, 0.6), 0px 0px 0px rgba(#59069a, 0.6);
          border-radius: 4px;
          mix-blend-mode: lighten;
          text-align: center;
        }

        button {
          text-transform: uppercase;
          cursor: pointer;
        }

        button:hover, input:focus {
          box-shadow: inset 0px 0px 5px rgba(#59069a, 0.6), 0px 0px 20px rgba(#2cd8fe, 0.6);
        }

        .button-large {
          width: 100%;
          height: 80px;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
          outline: none;
          border: none;
          background: linear-gradient(42deg, #2c024d, #e6008c);
          color: #fafafa;
          vertical-align: middle;
        }

        .button-large.disabled {
          background: linear-gradient(42deg, #6c6c6c, #d1d1d1) !important;
          color: #ff007a !important;
          font-weight: 900;
        }

        .button-small, .button-medium, .button-icon {
          background: transparent;
          color: #fafafa;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          border: 1px solid;
          border-color: #a6e000;
          outline: none;
        }

        .button-icon {
          width: 40px;
          border: none;

          svg {
            fill: white;
            opacity: 0.5;
          }
        }

        .button-icon:hover {
          box-shadow: none;
          animation-name: icon-animate;
          animation-duration: 0.4s;
        }

        @keyframes icon-animate {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(1.2);
          }

          100% {
            transform: scale(1);
          }
        }

        .button-small {
          width: 48.5%;
        }

        .button-medium {
          width: 100%;
        }

        input {
          width: 100%;
          background: transparent;
          color: #fafafa;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          border: 1px solid;
          border-color: #a6e000;
          outline: none;
          background: linear-gradient(42deg, rgba(#2c024d, 0.2), rgba(#e6008c, 0.2));
        }
      }

      .row.colors {
        position: relative;
        max-width: 400px;
        flex-wrap: wrap;
        justify-content: space-between;

        .button-small {
          position: relative;
          height: 60px;
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            position: absolute;
            right: 0px;
            top: 0px;
            padding-right: 10px;
            height: 100%;
            width: 25px;
            z-index: 100;
            fill: white;
          }
        }
      }
    }
  }
}
