@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.display-canvas {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333333;
  z-index: 0;

  .controls {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 50px;
    border-bottom-left-radius: 20px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    background-color: rgba(51, 0, 82, 0.25);
    box-shadow: inset 0px 0px 50px rgba(#450050, 0.5);
    opacity: 0.8;

    button, input {
      display: inline-block;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      margin-bottom: 10px;
      height: 42px;
      box-shadow: inset 0px 0px 0px #59069a, 0px 0px 0px #59069a;
      transition: 0.2s;
    }

    button {
      border: none;
      outline: none;
      background-color: #ff007a;
      color: #fafafa;
    }

    button:hover {
      box-shadow: inset 0px 0px 10px #450050, 0px 0px 10px #450050;
    }

    button:active {
      animation: button-click 0.2s;
    }

    input {
      outline: none;
      border: none;
      font-size: 9px;
      font-weight: 300;
      text-align: center;
    }

    input:hover {
      box-shadow: inset 0px 0px 5px #450050, 0px 0px 10px #450050;
    }

    @keyframes button-click {
      0% {
        box-shadow: inset 0px 0px 0px #450050, 0px 0px 0px #450050;
        transform: scale(1);
      }

      50% {
        box-shadow: inset 0px 0px 10px #00d8fe, 0px 0px 40px #fcfa00;
        transform: scale(1.05);
      }

      100% {
        box-shadow: inset 0px 0px 0px #450050, 0px 0px 0px #450050;
        transform: scale(1);
      }
    }
  }
}
