.display-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s;
  background-color: #befc3a;

  .controls {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;

    button, input {
      display: inline-block;
      margin-bottom: 10px;
      height: 42px;
    }

    input {
      font-size: 11px;
      text-align: center;
    }
  }
}
