.logo {
  align-self: center;
  width: 80px;
  height: 80px;
  margin-top: 30px;
  margin-left: -15px;
  opacity: 0;

  svg {
    overflow: visible;
    max-width: 120px;

    line {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }

    path {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
  }
}
