* {
  box-sizing: border-box;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  background-color: #333333;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
